- hosts: node01,node02
  become: true
  tasks:
    - name: Скопировать скрипт установки Docker
      copy:
        src: files/install_docker.sh
        dest: /tmp/install_docker.sh
        mode: '0755'

    - name: Установить Docker
      shell: /tmp/install_docker.sh
      args:
        creates: /usr/bin/docker

    - name: Создать каталог
      file:
        path: /project/services/ansible/files
        state: directory
        mode: '0755'

    - name: Скопировать docker-compose.yml на ноды
      copy:
        src: files/docker-compose.yml
        dest: /project/services/ansible/files/docker-compose.yml
        mode: '0644'

    - name: Скопировать папку database (init.sql)
      copy:
        src: ../database/
        dest: /project/services/database/
        mode: '0644'

# Что бы эта задача сработала, на менеджер установить плагин
# 'ansible-galaxy collection install community.docker'
    - name: Deploy docker-compose
      community.docker.docker_compose:
        project_src: /project/services/ansible/files
        state: present
# Или использовать
    # - name: Deploy
    #   shell: docker compose -f /project/services/ansible/files/docker-compose.yml up -d
    #   args:
    #     chdir: /project/services/ansible/files

    - name: Статус контейнеров
      shell: docker ps
      register: docker_ps
      changed_when: false

    - name: Вывести статус контейнеров
      debug:
        var: docker_ps.stdout_lines